!-- Xft settings -- !
Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault
Xft.dpi:   99


st.font: Victor Mono:style=Medium:pixelsize=16

! window padding
st.opacity: 255
st.borderpx: 30 

! special
*.foreground:   #ffffff
*.background: #302A53
*.cursorColor:  #ffffff

*.color0:       #29343d
*.color8:       #3b4b58

*.color1:       #a3b8ef
*.color9:       #bac8ef

*.color2:      #adff2f
*.color10:       #7cfc00

*.color3:       #fbdf90
*.color11:      #fbeab9

*.color4:       #9f91e2
*.color12:      #9587d8   

*.color5:       #ccaced
*.color13:      #d7c1ed

*.color6:        #ff1493
*.color14:      #ff1e9d

*.color7:       #ffffff
*.color15:      #eaeaea
